@use '../defaults' as defaults;

.header {
  $header: &;
  box-sizing: border-box;
  width: 100%;
  position: var(--headerPosition);
  top: calc(var(--headerTop) + 4rem);
  z-index: 10;
  overflow: hidden;

  font-family: var(--font-heading);

  @media screen and (max-width: #{defaults.$small-screen-width}) {
    position: absolute;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--text-color);

    height: var(--headerHeight);
    transform: skewY(var(--headerSkew));
    transform-origin: bottom left;
    transition: transform ease-out 0.07s;

    @media screen and (max-width: #{defaults.$small-screen-width}) {
      top: -3rem;
      transform: skewY(calc(var(--headerSkew) * 0.4));
    }

    @media print {
      //height: calc(var(--headerHeight) - 12rem);
      height: 0;
      background-color: transparent;
      border-bottom: var(--headerHeight) solid var(--text-color);
      transform: skewY(calc(var(--headerSkew) * 0.4));
      bottom: 0;
      top: auto;
    }
  }

  &_top {
    position: relative;
    display: block;
    z-index: 10;
    height: 5rem;
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 2rem;

    @media screen and (max-width: #{defaults.$small-screen-width}) {
      max-width: 100%;
      width: 100%;
    }

    @media print {
      height: 0;
      margin-bottom: 0;
    }
  }

  &_home {
    position: relative;
    z-index: 2;
    margin: 0;
    top: 1rem;
    left: -1rem;
  }

  &_home_text {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: -999rem;
  }

  &_title {
    position: relative;
    top: 0;
    z-index: 3;
    margin: 0 auto;
    max-width: 68rem;
    color: #fff;
    font-size: 2.827rem;
    line-height: 1.45em;
    font-weight: 500;
    padding: 2rem 9rem 8rem 3rem;

    box-sizing: border-box;

    @media screen and (max-width: #{defaults.$small-screen-width}) {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  &_with_subtitle {
    padding: 2rem 9rem 0.4rem 3rem;

    @media screen and (max-width: #{defaults.$small-screen-width}) {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  &_subtitle {
    font-family: var(--font-body);
    position: relative;
    top: 0;
    z-index: 3;
    margin: 0 auto;
    max-width: 68rem;

    padding: 0rem 9rem 8rem 3rem;

    box-sizing: border-box;

    @media screen and (max-width: #{defaults.$small-screen-width}) {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }

    span {
      color: var(--color-light-2);
      font-size: 1.2rem;
      line-height: 1.45em;
      font-weight: 500;
      border-top: 1px solid var(--color-light-3);
      display: inline-block;
      padding-top: 0.8rem;
    }
  }

  &_nav {
    position: absolute;
    right: 0;
    height: 4rem;

    label {
      display: none;
    }

    &_opener {
      &_input {
        display: none;
      }
    }

    &_links {
      display: block;
      text-align: right;
      margin: 0;
      height: 4rem;
    }
    &_link {
      display: inline-block;
      padding: 0 1rem;
      font-family: var(--font-body);
      height: 4rem;
      line-height: 4rem;

      @media screen and (max-width: #{defaults.$small-screen-width}) {
        &:last-child {
          display: none;
        }
      }

      a.link {
        display: inline-block;
        color: var(--color-light-1);
        border-bottom: 1px solid transparent;
        padding: 1rem 0;
        line-height: 2rem;

        @media screen and (max-width: #{defaults.$small-screen-width}) {
          font-size: 1.1rem;
        }

        &.active {
          border-bottom: 1px solid var(--color-light-1);
        }
      }
    }

    @media print {
      display: none;
    }
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 4rem;
    width: 4rem;
    margin-top: 0.5rem;

    line-height: 3rem;

    path {
      fill: var(--color-light-1);
    }

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);

    @media screen and (max-width: 1088px) {
      left: 4rem;
    }

    @media screen and (max-width: #{defaults.$small-screen-width}) {
      left: 2rem;
      margin-top: 0rem;
    }

    a {
      display: block;
      height: 100%;
      width: 100%;

      text-align: center;
      line-height: 4rem;
    }
  }

  &_small {
    .header_nav {
      bottom: calc(calc(var(--headerHeight) * -1) + 5rem);

      &_link a {
        color: var(--color-light-1);

        &:hover {
          border-bottom: none;
          text-decoration: underline;
        }
      }
    }

    .header_home {
      position: absolute;
      top: auto;
      bottom: calc(
        calc(var(--headerHeight) * -1) +
          calc(3.2rem - calc(5rem * var(--headerScrollRatio)))
      );

      svg {
        left: 0rem;
        top: 0rem;
        height: 2.5em;
        width: 2.5rem;
        position: relative;

        path {
          fill: var(--bg-color);
        }
      }
    }
  }

  &_contact {
    display: none;
  }

  &_resume {
    height: 32rem;

    svg {
      left: 1rem;
      top: 1rem;
      width: 10rem;
      height: 10rem;

      @media screen and (max-width: #{defaults.$small-screen-width}) {
        width: 9rem;
        height: 9rem;
        left: 2.45rem;
        top: 4rem;
      }

      @media print {
        left: 4rem;
        top: 0.5rem;
        width: 5rem;
        height: 5rem;
      }
    }

    @media print {
      height: 10rem;
    }

    #{$header}_title {
      margin-top: 9rem;
      padding-left: 4rem;
      padding-right: 4rem;
      font-size: 3.2rem;

      @media screen and (max-width: #{defaults.$small-screen-width}) {
        padding-left: 1.45rem;
        padding-right: 4rem;
      }

      @media print {
        margin-top: 0rem;
        padding-left: 11rem;
        padding-right: 4rem;
        font-size: 1.8rem;
      }
    }

    #{$header}_top::after {
      display: block;
      position: absolute;
      content: attr(small-title);
      left: 4rem;
      bottom: calc(
        calc(var(--headerHeight) * -1) +
          calc(5rem - calc(5rem * var(--headerScrollRatio)))
      );

      color: #fbfbfb;
      height: 4rem;
      line-height: 4rem;
      font-size: 1.4rem;

      @media print {
        display: none;
      }
    }

    @media screen and (max-width: #{defaults.$small-screen-width}) {
      height: 32rem;
    }

    @media print {
      #{$header}_contact {
        display: block;
        position: absolute;
        top: 4.4rem;
        left: 11rem;
        color: var(--bg-color);
        z-index: 10;
        font-family: var(--font-body);
        font-size: 0.8rem;
      }
    }
  }
}

.index header {
  min-height: 31rem;

  .top {
    height: 12rem;
    margin-bottom: 4rem;
  }

  h1.logo {
    height: 12rem;
    width: 12rem;
    margin-top: 2rem;
  }

  h1.title {
    font-weight: 500;
  }
}
