

<article class="resume-container">

	<h2 class="resume-section-title">Technologies and Skills</h2>

	<div class="resume-section">
		<ul>
			<li><strong>Languages:</strong> English, Hungarian</li>
			<li><strong>Design:</strong> web, responsive web, Photoshop, Illustrator</li>
			<li><strong>Code:</strong> JavaScript, Node.js, HTML5/CSS3, SASS/SCSS, PHP, Bash, Ruby</li>
			<li><strong>Deployment & maintenance:</strong> npm, linux systems, git/github/gitlab, Docker, Chef, Kubernetes, Hashicorp Vault, TravisCI, TeamCity</li>
		</ul>
	</div>

	<h2 class="resume-section-title">Work Experience</h2>

	<div class="resume-section">

		<h3>CEO</h3>
		<h4>JSSC Event organizing, private company • <em>2017 - present</em></h4>
		<ul>
			<li>Company management</li>
			<li>Financial management</li>
			<li>Event organizing</li>
		</ul>

		<h3>Senior Frontend Engineer</h3>
		<h4>IBM Cloud Video (formerly Ustream, acquired by IBM) • <em>2016 - present</em></h4>
		<ul>
			<li>asd</li>
			<li>asd</li>
		</ul>

		<h3>Senior Frontend Engineer</h3>
		<h4>Ustream Inc, startup • <em>2009 - 2016</em></h4>
		<ul>
			<li>asd</li>
			<li>asd</li>
		</ul>

		<h3>Senior Frontend Developer</h3>
		<h4>Carnation (later it was acquired by POSSIBLE), digital agency • <em>2007 - 2009</em></h4>
		<ul>
			<li>Sites for media, telecommunication, banks</li>
			<li>Mentoring peers</li>
		</ul>

		<h3>Frontend Developer</h3>
		<h4>Carnation (later it was acquired by POSSIBLE), digital agency • <em>2004 - 2007</em></h4>
		<ul>
			<li>Agency work</li>
			<li>Media sites, microsites</li>
		</ul>

	</div>

	<h2 class="resume-section-title">Community work</h2>

	<div class="resume-section">

		<h3>CSSConf Budapest 2016 - 2017</h3>
		<h4>Organizer</h4>
		<ul>
			<li>Organized and helped at 2 successful events so far</li>
			<li>Focused on design, technology, culture and diversity</li>
			<li>Sponsorhip negotiation</li>
		</ul>

		<h3>JSConf Budapest 2015 - 2017</h3>
		<h4>Curator, organizer</h4>
		<ul>
			<li>Curated and organized 3 successful events so far</li>
			<li>Focused on technology, culture and diversity</li>
			<li>Sponsorhip negotiation</li>
		</ul>

	</div>

	<h2 class="resume-section-title">Speaking Engagements</h2>

	<div class="resume-section">

		<h3>Thunder Plains 2017</h3>
		<h4>Café Terminal</h4>
		<p>
			Oklahoma City, OK, USA • 2017 Nov 3
		</p>

		<h3>RuhrJS 2017</h3>
		<h4>Redundant DevOps</h4>
		<p>
			Bochum, Germany • 2017 Oct 14-15
		</p>

		<h3>UpFront Conference 2017</h3>
		<h4>Café Terminal</h4>
		<p>
			Manchester, UK • 2017 May 19
		</p>

		<h3>Craft Conference 2014</h3>
		<h4>JavaScript Module Server</h4>
		<p>
			Budapest, Hungary • 2014 Apr 23-25
		</p>

	</div>

	<h2 class="resume-section-title">Education</h2>

	<div class="resume-section">

		<h3>Bachelor of IT Engineering</h3>
		<h4>University of Pécs - PMMFK</h4>
		<ul>
			<li>Pécs, Hungary  • <em>1999 - 2004</em></li>
		</ul>

	</div>


</article>