@import 'colors.scss';

header {
    box-sizing: border-box;
    width: 100%;
    position: relative;

    font-family: 'Libre Franklin', sans-serif;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: $color-black;
        transform: skewY(var(--headerSkew));
        transform-origin: bottom left;
        transition: transform ease-out .1s;

        @media (max-width:480px) {
            transform: skewY(calc(var(--headerSkew) * 0.4));
        }
    }

    .top {
        position: relative;
        display: block;
        z-index: 3;
        height: 4rem;
        max-width: 60rem;
        margin: 0 auto;
        margin-bottom: 2rem;

        @media (max-width:480px) {
            max-width: 100%;
            width: 100%;
        }
    }

    h1 {
        position: relative;
        z-index: 2;
        margin: 0;

        &.title {
            margin: 0 auto;
            max-width: 64rem;
            color: #fff;
            font-size: 2.827em;
            line-height: 1.3em;
            font-weight: 700;
            padding: 0 33% 6rem 2rem;

            box-sizing: border-box;

            @media (max-width:480px) {
                padding-right: 2rem;
            }
        }

        &.logo {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            height: 2.5rem;
            width: 2.5rem;
            margin-top: .5rem;

            line-height: 3rem;
            color:  #fff;

            -webkit-tap-highlight-color: transparent;

            @media (max-width:60rem) {
                left: 2rem;
            }

            a {
                display: block;
                height: 100%;
                width: 100%;

                text-align: center;
                line-height: 4rem;
            }

            &:active svg circle {
                fill: $color-blue;
            }
        }
    }

    @import 'menu.scss';
}

.header--shrink.index header,
.header--shrink header {
    position: fixed;
    top:  0;
    z-index: 2;
    height: 4rem;
    min-height: 0;

    &::after {
        transform: skewY(0);
    }

    .title {
        display: none;
    }

    h1.logo {
        height: 2.5rem;
        width: 2.5rem;
        margin-top: .5rem;
    }

    .top {
        height: 4rem;
        margin-bottom: 0;
    }
}

.index header {
    min-height: 31rem;

    .top {
        height: 12rem;
        margin-bottom: 4rem;
    }

    h1.logo {
        height: 12rem;
        width: 12rem;
        margin-top: 2rem;
    }

    h1.title {
        font-weight: 400;
    }
}
