@import 'colors.scss';
@import 'mixins.scss';

main {
	min-height: 25vh;
}

article,
section.article-meta {
	position: relative;
	max-width: 60rem;
	padding: 0 2rem 2rem;
	margin: 0 auto;

	a {
		text-decoration: none;
		color: $color-blue;

		&:visited {
			color: $color-blue;
		}
		&:hover {
			@include underline($color-white, $color-blue)
		}
	}

	h2,
	h3,
	h4 {
		font-family: 'Libre Franklin', sans-serif;
		font-weight: 500;
		position: relative;
		margin: 2rem 0;

		a {
			color: $color-black;

			&:visited {
				color: $color-black;
			}
			&:hover {
				@include underline($color-white, $color-blue, 94%, .09em)
			}
		}
	}

	h2 {
		font-size: 1.999rem;
		line-height: 2.8rem;
		border-left: 2px solid $color-black;
		margin: 2rem 0 2rem -2rem;
		padding-left: calc(2rem - 2px);
	}

	h3 {
		font-size: 1.414rem;
		line-height: 2.1rem;
	}

	@import 'main-image.scss';

	p {
		margin: 2rem 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	code {
		font-weight: bold;
		font-size: 1.35rem;
	}

	pre code {
		font-weight: normal;
		font-size: inherit;
	}

	&.archive-article {
		p {
			margin: 1rem 0;
		}

		h2, h3 {
			margin: 1rem 0;
		}
	}

	@import 'main-lists.scss';

	iframe {
		width: 40rem;
		height: calc(40rem * ( 9 / 16 ));
		border: 1px solid lighten($color-black, 50%);

		@media (max-width:480px) {
			width: 100vw;
			height: calc(100vw * ( 9 / 16 ));
			margin: 0rem 0 0rem -2rem;
		}
	}

	.video.full,
	.youtube.full {
		position: relative;
		height: 0;
		width: calc(100% + 4rem);
		margin: 2rem 0 2rem -2rem;
		display: inherit;
		padding-bottom: 60%;

		video,
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			border: none;
		}

	}

	.read-more::after {
		content: '››';
		display: inline-block;
		padding-left: .2rem;
	}

	.article-archive-meta {
		display: block;
		font-family: 'Libre Franklin', sans-serif;
		font-weight: 300;
		font-size: .8rem;
		color: lighten($color-black, 50%);
		margin-top: .3rem;

		.read-time,
		.talk-location,
		.talk-date {
			&::before {
				content: '\00B7';
				display: inline-block;
				padding: 0 .2rem;
			}
		}
	}

	video {
		display: block;
		margin: 0 auto;
		width: 50%;

		@media (max-width:480px) {
			width: 100%;
		}
	}
	@media (max-width:480px) {
		pre {
			font-size: .7rem;
		}
	}

}

article {
	&:last-child,
	&:last-of-type {
		margin-bottom: 4rem;

		&::after {
			content: "";
			display: table;
			clear: both;
		}
	}
}

.header--shrink main {
	padding-top: var(--headerHeight);
}

@import 'main-meta.scss';




.instagram-gallery {

	width: calc(100% + 4rem);
	margin: 2rem 0 2rem -2rem;

	a {
		display: inline-block;
		width: 16.6%;

		@media (max-width:768px) {
			width: 25%;
		}
		@media (max-width:480px) {
			width: 33%;
		}

		position: relative;
		overflow: hidden;
		vertical-align: top;

		&:after {
			content: "";
			display: block;
			padding-bottom: 100%;
		}

		span {
			position: absolute;
			top: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
		}
	}
}

blockquote {

	border-left: .5rem solid $color-light-2;
	margin-left: 0;
	padding-left: 2rem;

	p {
		font-size: 1.2rem;
		line-height: 2rem;
		color: lighten($color-black, 40%);
	}

	footer {
		font-family: 'Libre Franklin', sans-serif;
		font-weight: 300;
		font-size: .9rem;

		strong {
			display: inline-block;

		}

		cite {
			display: inline-block;

			&::before {
				content: '\00B7';
				padding: 0 .4rem;
			}
		}
	}
}