@import 'colors.scss';
@import 'mixins.scss';


.layout-resume {
	header {
		height: 28rem;

		.top {
			nav {
				display: none;
			}

			h1.logo {
				left: 1rem;
				top: 1rem;
				width: 10rem;
			}


		}
		h1.title {
			margin-top: 9rem;
			padding-left: 4rem;
		}

	}

	&.header--shrink header {
		height: 4rem;

		.top {
			h1.logo {
				top: 0;
				left: 0;
				height: 2.5rem;
				width: 2.5rem;
				margin-top: .5rem;
			}
			nav ul {
				display: none;
			}

			&::after {
				display: block;
				position: absolute;
				content: "Szabolcs Szabolcsi-Toth";
				left: 4rem;
				color: $color-white;
				height: 4rem;
				line-height: 4rem;
				font-size: 1.4rem;
			}
		}
	}
}

.resume {

	&-container {
		padding-top: 4rem;
		font-size: .9rem;

		display: grid;
		grid-gap: 2rem;

		grid-template:
		' . . ' auto
		' . . ' auto
		/ 1.2fr 2.8fr;

		@media (max-width:480px) {
			grid-template:
			' . ' auto
			' . ' auto
			/ 1fr;
		}
	}

	&-section {
		padding-top: 0.55rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid $color-light-2;

		@media (max-width:480px) {
			border-bottom: none;
		}

		&:last-of-type {
			border-bottom: none;
		}

		&-title {
			font-size: 1.6rem;
			align-self: start;
			margin: 0;
		}

		h3 {
			font-size: 1.214rem;
		}

		p, h3, h4 {
			margin-top: 0;
		}

		h3, h4 {
			margin-bottom: 0;
		}

		h4 {
			color: lighten($color-black, 50%);

			em {
				color: lighten($color-black, 75%);
				font-weight: normal;
			}
		}

		ul {
			margin-bottom: 2rem;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

			li {
				margin-bottom: 0;
			}
		}


	}

}