// @import 'fonts.scss';
@import 'colors.scss';

:root {
    --footerSkew: 0;
    --headerSkew: 0;
    --headerHeight: 0;
    --introBottom: 0;
    --introOffset: 0;
}

html, body {

    --subHeaderSkew: calc(var(--headerSkew) * 0.5);

    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 100%;
    font-display: optional;
    line-height: 1.8em;
    color: $color-black;

    background: $color-white;
    background: linear-gradient(
        calc(180deg - var(--subHeaderSkew)),
        $color-light-1 0%,
        $color-light-1 calc(var(--introBottom) + var(--introOffset)),
        $color-white calc(var(--introBottom) + var(--introOffset)),
        $color-white 100%);

}

@media (max-width:480px) {
    html, body {
        font-size: 95%;
    }
}

@import 'header.scss';
@import 'main.scss';
@import 'resume.scss';
@import 'index.scss';
@import 'footer.scss';

