
@import '../components/colors.scss';
@import '../components/font-face.scss';
@import '../components/mixins.scss';

.talks {
	@include article();
  padding-top: calc(var(--headerHeight) + 3rem);

  @media (max-width:480px) {
    padding-top: calc(var(--headerHeight));
  }
}

.talk {
	/* &_list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
    align-items: flex-start;

    @media (max-width:480px) {
      flex-direction: column;
    }
	}
 */

	&_item {
    display: grid;
    grid-template-columns: 40% 60%;

    grid-template-areas:
      "title content"
      "meta content";

		padding-block: 1rem;
		flex-basis: 20%;
		font-size: 1rem;

    @media (max-width:480px) {
      padding: 1rem 0;
      background-color: transparent;

      &:hover {
        transform: none;
      }
    }

		$item: &;

		&_title {
      grid-area: title;
      border-left: 1px solid $color-black;
			position: relative;
      padding-bottom: 2rem;
      padding-left: 1rem;
      margin: 0;

      @media (max-width:480px) {
        margin: 0 0 2rem;
      }

			#{$item}_title,
			#{$item}_year {
				font-family: $body-font;
				position: relative;
				z-index: 2;
				display: block;
        color: $color-white;

        @media (max-width:480px) {
          color: $color-black;
        }
			}

			#{$item}_title {
				font-weight: 700;
			}

			#{$item}_year {
				font-size: 1.4rem;
				font-weight: 100;
			}

		}

    &_meta {

      grid-area: meta;
      padding-left: 1rem;
      border-left: 1px solid $color-black;


      #{$item}_topic,
      #{$item}_date {
        display: block;
      }

      #{$item}_topic {
        font-family: $heading-font;
        margin-bottom: .4rem;

        @media (max-width:480px) {
          font-size: 1.3rem;
          margin-bottom: .2rem;
        }
      }

      #{$item}_date {
        font-size: .8rem;
        color: $color-light-3;

        @media (max-width:480px) {
          font-size: 1rem;
        }
      }
    }

	}
}
