@use '../components/colors' as colors;
@use '../components/mixins' as mixins;

.resume {
  background-color: var(--bg-color);

  &_container {
    @include mixins.article();

    padding-top: 34rem;
    font-size: 1rem;

    display: grid;
    grid-gap: 2rem;

    grid-template:
      ' . . ' auto
      ' . . ' auto
      / 1.2fr 2.8fr;

    @media (max-width: 820px) {
      font-size: 1.4rem;
      grid-template:
        ' . ' auto
        ' . ' auto
        / 1fr;
    }

    a {
      color: colors.$color-blue;
      text-decoration: none;

      &:visited,
      &:active {
        color: colors.$color-blue;
      }

      &:not(.anchor):hover {
        @include mixins.underline(colors.$color-white, colors.$color-blue);
      }
    }
  }

  &_section {
    padding-top: 0.55rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid colors.$color-light-2;

    &.speaking {
      p {
        margin-bottom: 3rem;
      }
      p:last-child {
        margin-bottom: 1rem;
      }
      h4 {
        margin-bottom: 1rem;
      }
    }

    @media (max-width: 820px) {
      border-bottom: none;
    }

    &:last-of-type {
      border-bottom: none;
    }

    &_title {
      font-family: var(--font-heading);
      font-size: 1.6rem;
      font-weight: normal;
      align-self: start;
      margin: 0;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 2px;
        height: 100%;
        left: -2rem;
        background-color: colors.$color-black;
        box-sizing: border-box;
      }

      @media (max-width: 820px) {
        font-size: 2rem;
      }
    }

    h3 {
      font-size: 1.314rem;
      @media (max-width: 820px) {
        font-size: 1.6rem;
      }
    }

    p,
    h3,
    h4 {
      margin-top: 0;
    }

    h3,
    h4 {
      margin-bottom: 0;
    }

    h4 {
      font-size: 1rem;
      color: colors.$color-dark-1;
      font-weight: normal;
      margin-bottom: 2rem;
      font-family: var(--font-body);
      em {
        color: colors.$color-dark-3;
      }
    }

    ul {
      margin-bottom: 2rem;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      li {
        position: relative;
        counter-increment: li;
        margin-left: 1.45rem;
        margin-bottom: 0.8rem;

        &::before {
          content: '■';
          position: absolute;
          transform: translateX(-1.45rem);
          top: 3px;
          font-size: 1rem;
          color: colors.$color-blue;
        }
      }
    }
  }
}
