<% if (post.link){ %>
    <a href="<%- url_for(post.link) %>" class="read-more">Read More</a>
<% } else if (post.title){ %>
    <a href="<%- url_for(post.path) %>" class="read-more">Read More</a>
<% } %>